
@{
    ViewBag.Title = "Index";
}
@*<html>
    <head>

    </head>
    <body>
        <h2> Tenure calculation</h2>
        <div class="row">
            @using (Html.BeginForm("/Index", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="date">Joining_date</label>
                    <input type="text" class="form-control" id="date" name="date" value="@Model.joining_date"
                </div>
                <div class="form-group">
                    <label for="date">tenure</label>
                    <input type="text" class="form-control" id="ten" name="ten" value="@Model.tenure"
                </div>
                <div>
                    <button type="submit" class="btn-btn.info" id="ok" value="add"> OK </button>
                </div>
            }
        </div>
    </body>
    </html>*@


    <label for="tenure">tenure</label>


    <input type="number" value="datediff" />
    
    <input type="submit" value="ok" />
        


